<?php if($_SESSION["inicia"]==true): ?>
<br><br>
    <img class="responsive-img" src="<?=$_SESSION["foto"] ?>">
    <h1>Bienvenido</h1>
    <br><br>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?
    <br><ul> Porque cuando se inicia sesión se guardan las variables, <strong>session_unset() </strong>elimina las variables y <strong>session_destroy</strong> es el antagonista de session_start, y como tal no se puede trabajar con sesiones si no vuelve a aparecer un session_start por alguna parte</ul>
    <br>¿Cuál es la diferencia entre una variable de sesión y una cookie?
    <br><ul>La diferencia de ambas está en cómo cada una guardan los datos: Las <strong>cookies</strong> a nivel local en el navegador del usuario, las <strong>sesiones</strong> almacenan los datos directamente en el servidor web.</ul>
    <br>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?
    <br><ul>Utilizan un id para identificar las fotos</ul>
    <br>¿Qué es CSRF y cómo puede prevenirse?
    <br><ul>Un ataque de falsificación de petición en sitios cruzados (CSRF por sus siglas en inglés) es un tipo de vulnerabilidad de aplicaciones web en el que la víctima, sin darse cuenta, ejecuta un script en su navegador que permite aprovecharse de la sesión que hubiese iniciado en algún sitio particular. Los ataques CSRF se pueden hacer con pedidos GET o POST. </ul>

<?php endif; ?>
