<div class="row">
          <div class="col s12 m6 l6 push-l6">
              <br><br>
        
          </div>
          <div class="col-12">
              
                <form action="registrar.php" method="POST" enctype="multipart/form-data">
                    <br><br>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Nombre(s)" name="nombre" id="nombre" class="validate" required>
                            <label for="nombre"></label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Apellidos" name="apellido" id="apellido" class="validate" required>
                            <label for="apellido"></label>
                        </div>
                    </div>
                  <div class="row">
                      <div class="col">
                      <input class="form-control" placeholder="Edad" name="edad" id="edad" type="number" class="validate" min="0" max="99" required>
                      <label for="edad"></label>
                        </div>
                      <div class="col">
                        <div class="file-field input-field col s12">
                            <div class="btn">
                              <span>Foto</span>
                              <input type="file" name="foto" id="foto">
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col">
                        <input class="form-control" placeholder="Correo Electrónico" name="mail" id="mail" type="email" class="validate" required>
                        <label for="mail"></label>
                    </div>
                    <div class="col">
                      <input class="form-control" placeholder="Contraseña" name="pass1" id="pass1" type="password" class="validate"  required>
                      <label for="pass1"></label>
                    </div>
                    <div class="col">
                      <input  class="form-control" placeholder="Repite Contraseña" name="pass2" id="pass2" type="password" class="validate"  required>
                       <label for="pass2"></label>
                    </div>
                  </div>
                  
                  <div class="input-field col s12">
                    <input type="submit" value="Enviar" class="waves-effect waves-light btn">
                  </div>
                </form>
          </div>
          
        </div>
        