#wrapper,img{margin:0}
div.about h1,div.about p,footer,h1,h2{text-align:center}
#wrapper,body{background-color:#fff}
footer{padding:1em;background-color:#000}
#wrapper{width:90%}
div.about h1,h2,li{color:#000;font-family:'Gloria Hallelujah',cursive}
div.about p{color:#000;font-family:Courgette,cursive;padding-top:30px}
div.about{padding:93px}div.tecnologias{padding-bottom:20px}
img{display:block}
footer{color:#fff;font-family:sans-serif}
h4{padding-bottom:10px}
div.cuestionario p{
    text-align: left;
    width: 90%;
    padding-left: 150px;
}
li,p{
    text-align: left;
    width: 90%;
    padding-left: 150px;   
}

#div.foo-help_content p{
    text-align: left;
    width: 90%;
    padding-left: 150px;  
    background-color: aquamarine;
}
body:after {
  content: "BFP"; 
  font-size: 10em;  
  color: rgba(52, 150, 400, 0.2);
  z-index: 9999;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;
}


.dentro:hover
{
    font-family: "Times New Roman", serif;
    color: #007cc3;
    font-size: 8em;
    
}
#div1, #div2 {
    float: left;
    width: 243px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#number {
  font-size:50px;
  color:#434343;
}

</style>

