</div>  
<script>
function validaForm(){
  // Campos de texto
  if($("nombre").val() == ""){
      alert("El campo Nombre no puede estar vacío.");
      $("nombre").focus();    
      return false;
  }
  if($("edad").val() == ""){
      alert("El campo edad no puede estar vacío.");
      $("edad").focus();
      return false;
  }
  if($("telefono").val() == ""){
      alert("El campo Telefono no puede estar vacío.");
      $("telefono").focus();
      return false;
  }
  if($("mail").val() == ""){
      alert("El campo Mail no puede estar vacío.");
      $("mail").focus();
      return false;
  }
  if($("empresa").val() == ""){
      alert("El campo Empresa no puede estar vacío.");
      $("empresa").focus();
      return false;
  }
  return true; // Si todo está correcto
}

$(document).ready( function() {   // Esta parte del código se ejecutará automáticamente cuando la página esté lista.
    $("#submit").click( function() {     // Con esto establecemos la acción por defecto de nuestro botón de enviar.
        if(validaForm()){                               // Primero validará el formulario.
            $.post("util.php",$("#formulario").serialize(),function(res){
                $("#formulario").fadeOut("slow");   
                if(res == 1){
                    $("#exito").delay(500).fadeIn("slow");      
                } else {
                    $("#fracaso").delay(500).fadeIn("slow");   
                }
            });
        }
    });    
});
</script>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function() {
    $('select').material_select();
  });

</script>
 <script type="text/javascript" src="ajax.js"></script>

 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script type="text/javascript" src="javascript2.js"></script>
</body>
</html>