<?php require_once("../util.php"); ?>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Service</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <?php if (isset($id)) : ?>
            <?php echo getUsuario($id); ?>
        <?php else: ?>
            <?php echo getUsuarioTable(); ?>
        <?php endif; ?>
        
        
        <h1>Slim</h1>
        <div>a microframework for PHP</div>

        <?php if (isset($id)) : ?>
            <h2>Hello <?= htmlspecialchars($name); ?>!</h2>
        <?php else: ?>
            <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
        <?php endif; ?>
    </body>
</html>