<?php require_once("../util.php"); ?>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Laboratorio 24</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        
    
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
            h2 {
                color: red;
                
            }
            p{
                color: black;
            }
        </style>
    
    </head>
    <body>
        <h2><strong>Muestra el logo de Slim con el id del usuario</strong></h2>
        <h1>Slim</h1>
        <div>a microframework for PHP</div>

        <?php if (isset($id)) : ?>
            <h2>Hello <?= htmlspecialchars($id); ?>!</h2>
        <?php else: ?>
            <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
        <?php endif; ?>
        <h2><strong>Muestra los datos de los usuarios de la base de datos</strong></h2>
        <?php if (isset($id)) : ?>
            <?php echo getUsuario($id); ?>
            <h2>Hello <?php echo getName($id); ?></h2>
        <?php else: ?>
            <?php echo getUsuarioTable(); ?>
        <?php endif; ?>
        
        <h2>Preguntas</h2>
        <p><strong>¿A qué se refiere la descentralización de servicios web?</strong></p>
        <p>Se refiere a que los servicios Web XML permiten al cliente y al servicio Web XML funcionar como unidades autónomas y no depender entre sí.</p>
        <p><strong>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</strong></p>
        <p>Obteniendo el servicio desde otro servidor que este conectado al servicio Web.  </p>
        
    </body>
</html>