nav.navbar ul.navbar-nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
}
body p{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

img{
    width: 16.5em;
}
footer{
    color:#fff;
    font-family:sans-serif;
    padding:1em;
    background-color:#000;
    text-align: center;

}

iframe{
    width: 70em;
    height: 35em;
}

#mapa iframe{
    width: 38em;
}