footer {
    padding: 1em;
    background-color: black;
    text-align: center;
}
#wrapper{
    background-color: white;
    width: 960px;
    margin: 0 auto;
    width: 90%;
}

div.about h1,h2{
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}
div.about p{
    color: black;
    font-family: 'Courgette', cursive;
    padding-top: 30px;
    text-align: center;
  
}
div.about {
    padding: 93px;
}

div.tecnologias {
    padding-bottom: 20px;
}

img{
    display: block;
    margin: 0 auto;
}
footer {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

h1{
  text-align: center;
}

h3{
    text-align: left;
    font-family: sans-serif;
}

h4{
    padding-bottom: 10px;
}

p {
    color: black;
}
div.Idaw h2{
    text-align: left;
    font-family: sans-serif;
}

div.tecnologias h2{
    text-align: left;
    font-family: sans-serif;
}







