<div class="row">
    <form class="col s12" action="guardar.php" method="POST">
        <?php if(isset($registro)): ?>
        <input name="id" id="id" type="hidden" value="<?=$registro["idUsuario"];?>">
        <?php endif; ?>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="" name="nombre" id="nombre" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["nombre"] ?>">
          <label for="nombre">Nombre Completo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="" name="edad" id="edad" type="number" class="validate" required value="<?php if(isset($registro)) echo $registro["edad"] ?>">
          <label for="nombre">Edad</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="" name="telefono" id="telefono" type="number" class="validate" required value="<?php if(isset($registro)) echo $registro["telefono"] ?>">
          <label for="nombre">Telefono</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="" name="mail" id="mail" type="email" class="validate" required value="<?php if(isset($registro)) echo $registro["mail"] ?>">
          <label for="nombre">Correo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button class="waves-effect waves-light btn" type="submit"><?php if(isset($evento)): ?>Guardar<?php else: ?>Publicar<?php endif;?></button>
        </div>
      </div>
    </form>
  </div>
  
